/* SETUP */


/* SETTINGS */

/* DEV STYLES */

header, footer, main {
    border: 4px solid red;
}

section {
    border: 4px solid lime;
}

.inner-container {
    border: 4px solid orange;
    padding: 10px;
}

/* STRUCTURE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.inner-container {
    width: 98%;
    max-width: 900px;
    margin: 0 auto; 
    padding: 10vh 0;
}

header .inner-container {
    padding: 10px;
}



/* TYPOGRAPHY */

/* COMPONENTS */
button {

}

card {
    
}

/* MODULES */

/* STYLING */



.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0%;   
}

#header, #footer {
    background-color: #1f2937;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero-secondary, a, .cta-text, #footer {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button, .section-cta {
    background-color: #3882f6;
}

button, .cta-logo {
    color: #f9faf8;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

em {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}


/* -------- colors and font styles -------- */

#header { 
    display: flex;
    flex: 1 1 0px;
    padding: 0 100px;
    justify-content: center;
    gap: 50px;
    
 }

 
.header-left, .header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    
}

button {
    width: 100px;
    height: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
}


.placeholder {
    width: 600px;
    height: 300px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

#main {
    
    
}

.section-information {
    display: flex;
    
    
}

.section-quote {
    padding: 50px;
    background-color: #e5e7eb;
    
}

.cta-container {
    
}

.section-cta {
    display: flex;
    padding: 50px;
    
}

#footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}