@import 'https://meyerweb.com/eric/tools/css/reset/reset.css';

:root {
    --dark-background-clr: #1f2937;
    --quote-background-clr: #e5e7eb;
    --light-blue-clr: #3882F6;
    --strong-white-text-clr: #f9faf8;
    --weak-white-text-clr: #e5e7eb;
    --black-clr: #1f2937;
    --quote-text-clr: #1f2937;
    --white-clr: white;

    --fs-main-text: 48px;
    --fs-secondary-text: 18px;
    --fs-logo-text: 24px;
    --fs-header-text: 36px;
    --fs-quote-text: 36px;

    --fw-main-text: bolder;
    
}

/* SETUP */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

picture {
    display: block;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgb(188, 186, 186);
    color: var(--weak-white-text-clr);
    padding: 100px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}



/* SETTINGS */

/* DEV STYLES */

/* header, footer, main {
    border: 4px solid red;
}

section {
    border: 4px solid lime;
}

.inner-container {
    border: 4px solid orange;
    padding: 10px;
} */

/* body * {
    border: 1px solid blue;
    padding: 2px;
  } */

/* STRUCTURE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.inner-container {
    width: 98%;
    max-width: 900px;
    margin: 0 auto; 
    padding: 10vh 0;
}

header .inner-container {
    padding: 10px;
}



/* ----------- TYPOGRAPHY ------------- */

.header {
    font-size: var(--fs-header-text);

}

.main-text {
    font-weight: var(--fw-main-text);
    font-size: var(--fs-main-text);
}


/* ------------- COMPONENTS ----------- */

button {
    display: inline-block;
    color: var(--weak-white-text-clr);
    background-color: var(--light-blue-clr);
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
}

.product-img {
    border: 3px solid var(--light-blue-clr);
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

/* --------------- MODULES --------------- */

header .inner-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

header .header-links {
    gap: 20px;
}

hero {
    display: flex;
    flex-direction: column;
    margin: auto 5rem;
    gap: 10px;
    /* .. */
}

hero .text-content {
    display: block;
}

hero .text-content p {
    margin-top: 10px;
}

hero .text-content button {
    margin-top: 10px;
}

hero picture {

}

@media (min-width: 700px){
    hero {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
    }
    hero :is(text-content, picture) {
        /* flex-basis: 50%; text and image take up half space each    */
      }
}

.products {
    padding-top: 50px;
    padding-bottom: 100px;
}

product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

product-display h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 30px; */
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 40px;
    /* border: 4px solid red; */
    flex-wrap: wrap;
    /* padding: 0 50px; */
}

product {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-text {
    width: 150px;
}

.quotes {
    padding: 80px;
    
}

quote {
    display: block;
    margin: auto auto;
    width: 90%;
}

quote p {
    text-align: end;
}

.inner-container.cta {
    display: flex;
    justify-content: center;
    padding: 60px;
}

cta {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    width: 70vw;
    align-items: center;
    border-radius: 5px;
}

footer .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


/* ------------- STYLING -------------------- */

header .inner-container {
    background-color: var(--dark-background-clr);
}

header .inner-container h1 {
    color: var(--strong-white-text-clr);
}

header .inner-container .header-links a {
    color: var(--weak-white-text-clr);
    
}

.welcome {
    background-color: var(--dark-background-clr);
}

.welcome h2 {
    color: var(--strong-white-text-clr);
}

.welcome p {
    color: var(--weak-white-text-clr);
}

.products {
    background-color: var(--white-clr);
    border: 0.5px solid #e4e7ec;
}

.products h2 {
    font-size: var(--fs-header-text);
    font-weight:var(--fw-main-text);
    color: var(--black-clr);
}

.product-text {
    color: var(--quote-text-clr);
}

.quotes {
    background-color: var(--quote-background-clr);
}

quote em {
    font-size: var(--fs-quote-text);
    font-style: italic;
}

quote p {
    font-weight: bolder;
    font-size: var(--fs-secondary-text);
}

cta {
    background-color: var(--light-blue-clr);
}

.cta {
    border: 0.5px solid #e4e7ec;
}

.button-lower {
    border: 1.5px solid var(--weak-white-text-clr);
}

cta h2 {
    font-size: var(--fs-logo-text);
    color: var(--strong-white-text-clr);
}

cta p {
    color: var(--weak-white-text-clr);
}

footer .inner-container {
    background-color: var(--dark-background-clr);
    color: var(--weak-white-text-clr);
}