.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
   background-color: #1f2937;
   font-size: 18px; 
   color: #f9faf8;
   display: flex;
   justify-content: space-between;
   padding: 0 30px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}


a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}

#main {
    flex: 1;
}